<li class="w-full rounded-xl bg-orange-500 px-5 pt-2 pb-4 mb-3">
    <a href=<%="/idea/" + idea.name %> class="text-decoration-none flex">
        <div class="flex flex-col">
            <h5 class="text-black text-lg font-bold">
                <%= idea.name %>
            </h5>
            <p class="text-black text-sm font-medium">
                <%= idea.content %>
            </p>
        </div>
    </a>
</li>