<header
    class='relative top-0 left-0 w-[10vw] min-w-[200px] h-[100vh] pt-5 pb-4 px-4 mr-8 flex flex-col justify-between text-center bg-amber-500 z-50'>

    <div class='flex flex-col items-stretch space-y-4'>

        <h4 class="text-center font-black text-xl text-black bg-orange-500 p-3 rounded-2xl mt-3 mb-4">Boîte à idées inclusives</h4>

        <hr>
        <a href="/"
            class="bg-slate-500 hover:bg-slate-200 text-white hover:text-black rounded-2xl p-3 text-sm font-black w-fit self-center">
            Se déconnecter
        </a>

        <hr>
        <nav>
            <a href="/listeidee" class='text-black font-bold text-xl p-3 rounded-2xl hover:bg-orange-500'>Liste d'idées</a>
        </nav>

    </div>

    <div class='flex flex-col items-stretch space-y-4'>
        <hr>
        <p class="text-black">Groupe 11 Modem</p>
    </div>
    
</header>