<header
    class='fixed top-0 left-0 w-[10vw] h-full pt-5 pb-4 px-4 mr-8 flex flex-col justify-between text-center bg-amber-500'>
    <div class='flex flex-col items-stretch space-y-4'>
        <a href="/"
            class="bg-slate-500 hover:bg-slate-200 text-white hover:text-black rounded-2xl mt-3 p-3 text-sm font-black w-fit self-center">
            Se déconnecter
        </a>
        <hr>
        <nav>
            <a href="/listeidee" class='text-black font-bold text-xl'>Liste d'idées</a>
        </nav>
    </div>
    <div class='flex flex-col items-stretch space-y-4'>
        <hr>
        <p class="text-black">Groupe 11 Modem</p>
    </div>
</header>