<header class='fixed top-0 left-0 w-[10vw] h-full pt-5 pb-4 px-4 mr-8 flex justify-center bg-amber-500'>
    <nav class='flex flex-col items-start space-y-4'>
        <a href="/" class='text-black font-bold text-xl'>Liste d'idées</a>
    </nav>
</header>
