<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste d'idées</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body class="size-full">


    <%- include('../partials/header'); %>

        <!-- 
            J'ai ajouté l'attribut `aria-labelledby` pour lier le contenu
            principal au titre de la section, ce qui permet aux technologies
            d'assistance de donner plus de contexte.
        -->
        <main class="relative w-full flex flex-col justify-start" aria-labelledby="main-heading">
            <div class="w-full max-w-5xl mx-auto flex flex-col justify-start items-center">

                <%- include('../partials/formBox', { form_type: "idea" }); %>

                    <!-- 
                        J'ai ajouté un `id="main-heading"` pour qu'il puisse
                        être référencé par le `aria-labelledby` de la balise <main>.
                    -->
                    <h1 id="main-heading" class="text-center text-4xl font-black mt-8 mb-5">Idées</h1>

                    <ul class="w-full mb-5">
                        <%- ideas.map((idea)=> ( include('../partials/componentIdeaList', { idea: idea }) )) %>
                    </ul>

            </div>
        </main>

</body>

<script src="/js/app.js"></script>
<script src="/js/ideaList.js"></script>

</html>